{% extends 'base.html' %}
{% block content %}
<h1>{{ date['name'] }}</h1>
{% if date['image'] %}
  <img src="{{ date['image']['medium'] }}" alt="{{ date['name'] }}">
{% endif %}
<p>{{ date['summary']|safe }}</p>
<p><strong>Lánt:</strong> {{ date['runtime'] }} min</p>
<p><strong>Ár Utgafa:</strong> {{ date['premiered_fmt'] }}</p>
<p><strong>lokadagur:</strong> {{ date['ended_fmt'] }}</p>
<p><strong>Flokkar:</strong> {{ date['genres']|join(', ') }}</p>
<h3><a href="{{ url_for('index') }}">Til baka</a></h3>
{% endblock %}
